<div ng-controller="NavbarCtrl">	
	<md-fab-toolbar md-open="false" count="0" ng-class="md-left">
<!-- 	    <md-fab-trigger class="align-with-text">
	      <md-button aria-label="menu" class="md-fab md-primary">
	        <md-icon md-svg-src="assets/material-design-icons/navigation/svg/production/ic_menu_18px.svg"></md-icon>
	      </md-button>
	    </md-fab-trigger> -->
	    <md-toolbar>
	      <md-fab-actions class="md-toolbar-tools">
	        <md-button ui-sref="home" aria-label="comment" class="md-icon-button">
	          <md-icon md-svg-src="assets/material-design-icons/action/svg/production/ic_view_list_24px.svg"></md-icon>
	          projects
	        </md-button>
	        <md-button ui-sref="guidelines" aria-label="label" class="md-icon-button">
	          <md-icon md-svg-src="assets/material-design-icons/action/svg/production/ic_description_24px.svg"></md-icon>
	          guidelines
	        </md-button>
	      </md-fab-actions>
	    </md-toolbar>
	  </md-fab-toolbar>
</div>

